/* use body to define font-family due to it has more specifity than universal selector
because of inheritance it will get applied to its direct or indirect childs */
/* inheritance has very low specificity even low from browser default styles */
body {
  font-family: "Montserrat", sans-serif;
}

/* id selector */
#product-overview {
  background: #ff1b68;
}

/* class selector */
.section-title {
  color: #2ddf5c;
  /* inherit will use its direct to indirect parent font-family */
  /* font-family: inherit; */
}

/* it is a decendant combinator selector as it combines
it has more specifity than only h1 */
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/* element selector */
h1 {
  color: white;
  /* default */
  /* font-family: serif; */
  /* font-family: sans-serif; */
  font-family: "Anton", sans-serif;
}

/* Universal Selector */
/* * {
  color: red;
} */

/* attribute selector */
/* [disabled] {
  color: red;
} */

/* Specificity from high to low */
/* you can check from inspect element css applied */
/* Inline styles
#ID selectors
.class, :pseduo-class and attribute selectors
<tag> and ::pseduo-element selectors */

.highlighted-code {
  color: green;
}

#assignment-instructions {
  font-family: sans-serif;
  color: blue;
}

code {
  font-family: monospace;
  color: red;
}

/* selectos with combinators */

/* Adjancent sibling */
/* second element immediaty coming after first element and they share the same parent */
li + li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}

/* General Sibling */
/* Second element coming after first element(immedialy or not immediately) and they share the same parent */
/* h2 > P {
  color: red;
} */

/* Child */
/* Second element is direct child of first element */
/* div > p {
  color: red;
} */

/* Decendant */
/* Second element is direct or indirect child of first element */
/* div p {
  color: red;
} */

/* Don't learn this by heart */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference */
