/* id selector */
#product-overview {
  background: #ff1b68;
}

/* element selector */
h1 {
  color: white;
  /* default */
  /* font-family: serif; */
  /* font-family: sans-serif; */
  font-family: "Anton", sans-serif;
}

/* class selector */
.section-title {
  color: #2ddf5c;
}

/* Universal Selector */
/* * {
  color: red;
} */

/* attribute selector */
/* [disabled] {
  color: red;
} */

/* Specificity from high to low */
/* you can check from inspect element css applied */
/* Inline styles
#ID selectors
.class, :pseduo-class and attribute selectors
<tag> and ::pseduo-element selectors */
